<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link th:href="@{/styles/styles.css}" rel="stylesheet">
</head>
<body>
<h1>List of Employees</h1>

<table>
    <tr>
        <th>Profile Picture</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Matricule</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Personal Email</th>
        <th>Profesional Email</th>
        <th>CINDate</th>
        <th>CINNumber</th>
        <th>CINPlace</th>
        <th>Position</th>
        <th>Children in charge</th>
        <th>Socio-Professional Category</th>
        <th>CNAPS</th>
        <th>Departure Date</th>
        <th>Hiring Date</th>
        <th>SEXE</th>
        <th>Details</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td>
            <img th:src="'data:image/jpeg;base64,' + ${employee.picture}" />
        </td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.birthDate}"></td>
        <td th:text="${employee.matricule}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.address}"></td>
        <td th:text="${employee.emailPerso}"></td>
        <td th:text="${employee.emailPro}"></td>
        <td th:text="${employee.CINDate}"></td>
        <td th:text="${employee.CINNumber}"></td>
        <td th:text="${employee.CINPLace}"></td>
        <td th:text="${employee.position}"></td>
        <td th:text="${employee.childrenNumber}"></td>
        <td th:text="${employee.CSP}"></td>
        <td th:text="${employee.cnapsNumber}"></td>
        <td th:text="${employee.departureDate}"></td>
        <td th:text="${employee.hiringDate}"></td>
        <td th:text="${employee.sexe}"></td>
        <td>
            <a th:href="@{/employee-informations/{id}(id=${employee.id})}">View Details</a>
        </td>
    </tr>
</table>

<h2>Add Employee</h2>
<form th:action="@{/addEmployee}" th:object="${newEmployee}" method="post" enctype="multipart/form-data">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}"/><br/>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}"/><br/>

    <label for="birthDate">Date of Birth:</label>
    <input type="date" id="birthDate" th:field="*{birthDate}"/><br/>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" id="phoneNumber" th:field="*{phoneNumber}"/><br/>

    <label for="address">Address:</label>
    <input type="text" id="address" th:field="*{address}"/><br/>

    <label for="emailPerso">Email Perso:</label>
    <input type="text" id="emailPerso" th:field="*{emailPerso}"/><br/>

    <label for="emailPro">Email Pro:</label>
    <input type="text" id="emailPro" th:field="*{emailPro}"/><br/>

    <label for="DepartureDate">Departure Date:</label>
    <input type="date" id="DepartureDate" th:field="*{departureDate}"/><br/>

    <label for="HiringDate">Hiring Date:</label>
    <input type="date" id="HiringDate" th:field="*{hiringDate}"/><br/>

    <label for="CINDate">CIN_DATE:</label>
    <input type="date" id="CINDate" th:field="*{CINDate}"/><br/>

    <label for="CINPlace">CIN_PLACE:</label>
    <input type="text" id="CINPlace" th:field="*{CINPLace}"/><br/>

    <label for="CINNumber">CIN_NUMBER:</label>
    <input type="text" id="CINNumber" th:field="*{CINNUmber}"/><br/>

    <label for="position">Position:</label>
    <input type="text" id="position" th:field="*{position}"/><br/>

    <label for="childrenNumber">Children in Charge:</label>
    <input type="text" id="childrenNumber" th:field="*{childrenNumber}"/><br/>

    <label for="categorieSocioProfesional">Categorie Socio Pro:</label>
<!--    <input type="text" id="categorieSocioProfesional" th:field="*{categorieSocioProfesional}"/><br/>-->

<!--    TODO: DISPLAY CATEGORIE PROFESSIONNELLE -->
    <select id="categorieSocioProfesional" th:field="*{categorieSocioProfessionnelle}">
        <option th:each="category : ${categoriesList}" th:value="${category}" th:text="${category}"></option>
    </select><br/>

    <label for="cnapsNumber">CNAPS:</label>
    <input type="text" id="cnapsNumber" th:field="*{cnapsNumber}"/><br/>

    <label for="sexe">SEXE (H/F):</label>
    <input type="text" id="sexe" th:field="*{sexe}"/><br/>

    <label for="profileImage">Profile Image:</label>
    <input type="file" id="profileImage" name="profileImage" th:field="*{picture}"/><br/>

    <input type="submit" value="Add Employee"/>
</form>


</body>
</html>
